<app-spinner [active]="spinner"></app-spinner>

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm (ngSubmit)="login()">
                <h1>{{ 'login' | translate }}</h1>
                <p class="text-medium-emphasis">{{ 'bienvenido' | translate }}</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input [(ngModel)]="email" name="email" autoComplete="email" cFormControl
                    placeholder="usuario@gmail.com" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input [(ngModel)]="password" name="password" autoComplete="contraseña" cFormControl
                    [placeholder]="'password' | translate" type="password" />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="primary">
                      {{ 'login' | translate }}
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      {{ 'heOlvidadoContraseña' | translate }}
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="col-12 col-md text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2> {{ 'eresNuevoAqui' | translate }}</h2>
                <p>
                  {{ 'mensajeDeBienvenida' | translate }}
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  {{ 'registrarse' | translate }}
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>