.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-header{
  background: #1a50abf5;
  color: white;

  .btn-close{
    color: white !important;
  }
}

.btn-minimice{
  height: 21px;
  padding: 0px 4px !important;
}