.variables-container{
    border-right: 1px solid #0000002e;
}

.container-debts, .container-saving{
    max-height: 500px;
    overflow: auto;
}

.container-stats{
    border-top: 1px solid #0000002e;
}